# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

In [6]:
db.establishments.find_one({})

{'_id': ObjectId('67a40905c129f9cfdf7ef015'),
 'FHRSID': 1043695,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6BL',
 'Phone': '',
 'RatingValue': 5,
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2018-04-04T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': 1.195625, 'latitude': 51.083812},
 'RightToReply': '',
 'Distance': 4591.765489457773,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/1043695'}]}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query1 = {'scores.Hygiene': 20}
fields = {'_id':1, 
          'AddressLine1':1, 
          'AddressLine2':1, 
          'AddressLine3':1, 
          'AddressLine4':1, 
          'BusinessName':1, 
          'BusinessType':1, 
          'BusinessTypeID':1, 
          'PostCode':1, 
          'RatingDate':1, 
          'RatingKey':1, 
          'RatingValue':1, 
          'geocode':1, 
          'scores':1}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query1))

# Display the first document in the results using pprint
pprint(establishments.find(query1, fields)[0])

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 '_id': ObjectId('67a40906c129f9cfdf7f0b47'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [8]:
# Convert the result to a Pandas DataFrame
results = (establishments.find(query1, fields))
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(41, 17)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,RatingValue,RatingKey,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67a40906c129f9cfdf7f0b47,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,,BN21 1BU,0,fhrs_0_en-gb,2021-09-23T00:00:00,20,20,20,0.276940,50.769705
1,67a40906c129f9cfdf7f0ec8,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,,CO14 8HN,0,fhrs_0_en-gb,2022-06-22T00:00:00,20,15,30,1.278721,51.857536
2,67a40906c129f9cfdf7f11d2,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,,CO15 6AD,0,fhrs_0_en-gb,2021-08-13T00:00:00,20,20,20,1.159270,51.789429
3,67a40906c129f9cfdf7f13c0,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,,BN25 1PG,1,fhrs_1_en-gb,2021-12-23T00:00:00,20,10,20,0.102020,50.770885
4,67a40906c129f9cfdf7f13cf,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,,BN25 1HP,1,fhrs_1_en-gb,2021-10-07T00:00:00,20,10,20,0.101446,50.770724
5,67a40906c129f9cfdf7f1d6e,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,,SS1 2PP,0,fhrs_0_en-gb,2022-07-21T00:00:00,20,20,20,0.736349,51.541448
6,67a40906c129f9cfdf7f1f8f,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,,SS1 1BW,0,fhrs_0_en-gb,2022-08-03T00:00:00,20,20,20,0.712167,51.535007
7,67a40907c129f9cfdf7f34ba,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,,SS6 9HN,0,fhrs_0_en-gb,2022-03-23T00:00:00,20,15,30,0.602364,51.591515
8,67a40907c129f9cfdf7f38fe,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,,TN8 7AH,1,fhrs_1_en-gb,2022-03-04T00:00:00,20,5,20,0.146450,51.185947
9,67a40907c129f9cfdf7f4110,F & S,Retailers - other,4613,,81 Southernhay,Basildon,Essex,SS14 1EU,0,fhrs_0_en-gb,2021-07-26T00:00:00,20,20,20,0.462307,51.570050

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [10]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue': {'$gte': 4}}
fields = {'_id':1, 
          'AddressLine1':1, 
          'AddressLine2':1, 
          'AddressLine3':1, 
          'AddressLine4':1, 
          'BusinessName':1, 
          'BusinessType':1, 
          'BusinessTypeID':1, 
          'PostCode':1, 
          'RatingDate':1, 
          'RatingKey':1, 
          'RatingValue':1, 
          'geocode':1, 
          'scores':1}


# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query2))

# Display the first document in the results using pprint

pprint(establishments.find(query2, fields)[0])

33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 '_id': ObjectId('67a40906c129f9cfdf7f2562'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [11]:
# Convert the result to a Pandas DataFrame
results = (establishments.find(query2, fields))
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(33, 17)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,RatingValue,RatingKey,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67a40906c129f9cfdf7f2562,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,,ME12,4,fhrs_4_en-gb,2021-10-18T00:00:00,5,10,5,0.508551,51.369321
1,67a40906c129f9cfdf7f2888,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,,TN4 8HR,5,fhrs_5_en-gb,2021-05-14T00:00:00,0,5,0,0.249256,51.123623
2,67a40907c129f9cfdf7f33d5,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,,SS7 1NF,4,fhrs_4_en-gb,2018-11-02T00:00:00,0,0,10,0.561954,51.543831
3,67a40907c129f9cfdf7f41d5,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,,RM18 7EH,5,fhrs_5_en-gb,2020-12-04T00:00:00,0,5,0,0.346337,51.464066
4,67a40907c129f9cfdf7f41d6,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,,RM18 7EH,5,fhrs_5_en-gb,2018-11-02T00:00:00,0,0,0,0.346325,51.464078
5,67a40907c129f9cfdf7f48de,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,,RM15 5QY,5,fhrs_5_en-gb,2016-08-23T00:00:00,0,0,0,0.287555,51.504071
6,67a40908c129f9cfdf7f69ec,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,,E16 2NJ,5,fhrs_5_en-gb,2021-07-09T00:00:00,0,5,5,0.069286,51.501121
7,67a40908c129f9cfdf7f6db3,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,,E16 2PX,4,fhrs_4_en-gb,2019-01-18T00:00:00,10,5,5,0.048006,51.503733
8,67a40908c129f9cfdf7f6dcd,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,,E16 2PX,5,fhrs_5_en-gb,2017-07-17T00:00:00,0,0,0,0.047966,51.504112
9,67a40908c129f9cfdf7f6dce,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,,E16 2PX,5,fhrs_5_en-gb,2017-07-17T00:00:00,0,0,0,0.047966,51.504112

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query3 = {'RatingValue': 5, 
          'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
          'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}}
fields = {'_id':1, 
          'AddressLine1':1, 
          'AddressLine2':1, 
          'AddressLine3':1, 
          'AddressLine4':1, 
          'BusinessName':1, 
          'BusinessType':1, 
          'BusinessTypeID':1, 
          'PostCode':1, 
          'RatingDate':1, 
          'RatingKey':1, 
          'RatingValue':1, 
          'geocode':1, 
          'scores':1}
sort = sort = [("scores.Hygiene", 1)]
limit = 5

# Print the results
print(establishments.count_documents(query3))

pprint(establishments.find(query3, fields).sort(sort).limit(limit)[0])

87
{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'BusinessTypeID': 7840,
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 '_id': ObjectId('67a40908c129f9cfdf7f6379'),
 'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [13]:
# Convert result to Pandas DataFrame
results = (establishments.find(query3, fields))
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(87, 17)

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,RatingValue,RatingKey,RatingDate,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement,geocode.longitude,geocode.latitude
0,67a40908c129f9cfdf7f6352,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,1,152 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,5,fhrs_5_en-gb,2020-10-24T00:00:00,5,5,5,0.092743,51.487035
1,67a40908c129f9cfdf7f6379,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,5,fhrs_5_en-gb,2019-11-13T00:00:00,0,5,5,0.092420,51.487148
2,67a40908c129f9cfdf7f6389,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,Greenwich,SE18 1SE,5,fhrs_5_en-gb,2021-11-11T00:00:00,0,0,0,0.092537,51.487534
3,67a40908c129f9cfdf7f63a6,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,Greenwich,SE18 1JQ,5,fhrs_5_en-gb,2019-08-05T00:00:00,0,0,0,0.092080,51.487344
4,67a40908c129f9cfdf7f63be,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,Greenwich,SE18 1QG,5,fhrs_5_en-gb,2021-06-16T00:00:00,0,0,5,0.085994,51.481518
5,67a40908c129f9cfdf7f63c1,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,Greenwich,SE18 1PR,5,fhrs_5_en-gb,2021-06-16T00:00:00,0,0,5,0.091216,51.486730
6,67a40908c129f9cfdf7f63c3,Lumbini Grocery Ltd T/A Al-Iman,Retailers - other,4613,17 Lakedale Road,,Plumstead,Greenwich,SE18 1PP,5,fhrs_5_en-gb,2020-10-20T00:00:00,0,5,0,0.091626,51.487163
7,67a40908c129f9cfdf7f63e1,Greggs,Takeaway/sandwich shop,7844,6 Lakedale Road,,Plumstead,Greenwich,SE18 1PP,5,fhrs_5_en-gb,2021-06-23T00:00:00,0,0,0,0.091282,51.487141
8,67a40908c129f9cfdf7f63e2,Tesco,Retailers - supermarkets/hypermarkets,7840,18 Lakedale Road,,Plumstead,Greenwich,SE18 1PP,5,fhrs_5_en-gb,2020-10-20T00:00:00,0,5,0,0.091282,51.487141
9,67a40908c129f9cfdf7f6409,Dosa & Sambal Express,Restaurant/Cafe/Canteen,1,107A Plumstead High Street,,Plumstead,Greenwich,,5,fhrs_5_en-gb,2020-07-09T00:00:00,0,0,5,0.091566,51.487758

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [17]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group = {'$group': {'_id': {'LocalAuthorityName': '$LocalAuthorityName'},
                    'num_restaurants': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort = {'$sort': {'num_restaurants': -1}} 

# Print the number of documents in the result
pipeline = [match, group, sort]
results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])

[{'_id': {'LocalAuthorityName': 'Thanet'}, 'num_restaurants': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'num_restaurants': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'num_restaurants': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'num_restaurants': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'num_restaurants': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'num_restaurants': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'num_restaurants': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'num_restaurants': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'num_restaurants': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'num_restaurants': 542}]

In [18]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(55, 2)

   num_restaurants _id.LocalAuthorityName
0             1130                 Thanet
1              882              Greenwich
2              713              Maidstone
3              711                 Newham
4              686                  Swale
5              680             Chelmsford
6              672                 Medway
7              607                 Bexley
8              586        Southend-On-Sea
9              542               Tendring